﻿@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
        <form>

            <input type="submit" name="btn1" value="Click Here" formaction="@Url.Action("AddStudent")" />
        </form>
        <h1>@ViewBag.Msg</h1>





    </div>
